*.sdf
*.suo
/ipch
*.user
/Debug
/esUtil/Debug
/Hello_Triangle/Debug
/libEGL/Debug
/libGLESv2/Debug
/MipMap2D/Debug
/MultiTexture/Debug
/ParticleSystem/Debug
/PostSubBuffer/Debug
/preprocessor/Debug
/Simple_Texture2D/Debug
/Simple_TextureCubemap/Debug
/Simple_VertexShader/Debug
/Stencil_Test/Debug
/TextureWrap/Debug
/translator_common/Debug
/translator_hlsl/Debug
